.message {
    /*direction: rtl*/
}

.imageAndText {
    display: flex;

}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    background-color: #0066CC;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.text:after {
    width: 10px;
    height: 10px;
    /*
    background-color: #0066CC;*/
    /*color: red;*/
    /*border-top: 10px solid black;*/
    /*bottom: -19px;*/
    content: " ";
}

.name {
    color: white;
    font-size: 18px;
}

.messageText {

}

.time {
    font-size: 10px;
}