.message {
    display: flex;
}

.imageAndText {

}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    background-color: #0066CC;

}

.text:after {

}

.name {

}

.messageText {

}

.time {

}