.button {
}

.disabled {
    background-color: white;
}

.secondary {
    background: green;
    border: 1px solid darkgreen;
}

.default {
}

.red {
    background: red;
    border: 1px solid chocolate;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
